<!--The content below is only a placeholder and can be replaced.-->
  
<app-login></app-login>
<app-signin></app-signin>
<router-outlet></router-outlet>


<!-- <form action="/action_page.php">
     
      <div class="imgcontainer">
        <img src="../assets/logonav.png" alt="Avatar" class="avatar">
      </div>
      <div *ngIf="afAuth.user | async as user; else showLogin">
          <button (click)="logout()">Logout</button>
      </div>
      <ng-template #showLogin>
        <button class="social" (click)="login()"><img src="../assets/search.png" alt="logo-google"></button>
        <button  class="social"  (click)="login()"><img src="../assets/facebook.png" alt="logo-google"></button>
        <button class="social"  (click)="login()"><img src="../assets/twitter.png" alt="logo-google"></button>
      </ng-template>
      <h2>Login Form</h2>

    <div class="container ">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
          
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      <button type="submit">Login</button>
    </div>

       <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
  </form> -->
